.search {
  display: flex;
  margin-left: 75px;
  align-items: center;
  padding: 12px 260px 12px 12px;
  background-color: white;
  &-input {
    border: 0;
    padding-left: 12px;
    font-size: 14px;
    font-weight: lighter;
  }
}
